@using EntityLayer.Concreate
@model List<Experince>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdimLayout.cshtml";
}

<div class="col-md-6">
    <div class="p-2">
        <button type="button" id="btngetLisall" class="btn btn-outline-primary">Verileri Getir</button>
        <button type="button" id="btnadd" class="btn btn-outline-info">Kaydet</button>
    </div>
</div>
<h4 class=" text-center">Deneyim Listesi</h4>
<div class="p-2" id="ListExperince">Veriler Buraya Gelicek</div>
<br />
<div class="col-md-12">
    <input type="text" class="form-control" id="inpname" placeholder="Başlık" />
    <br />
    <input type="text" class="form-control" id="inpdate" placeholder="Tarih" />
</div>
@section scripts
    {
    <script>
        $("#btngetLisall").click(function () {
            $.ajax({
                contentType: "application/json",
                dataType: "json",
                type: "Get",
                url: "/Experince2Controller1/ListExperince/",
                success: function (funk) {
                    let values = jQuery.parseJSON(funk);
                    console.log(values);
                    let htmlst = "<table class=table table-bordered> <tr> <th> ID </th> <th> Başlık </th>
                        < th > Tarih < /th> </tr > ";
                    $.each(values, (index, value) => {
                        htmlst += `<tr> <td>${value.Experinceid}</td> <td>${value.Name}</td> <td>
                                                        ${value.Date}</td> </tr>`
                    });
                    htmlst += "</table>";
                    $("#ListExperince").html(htmlst);
                }
            });
        });
        $("#btnadd").click(function () {
            let values = {
                Name: $("#inpname").val(),
                Date: $("#inpdate").val()
            };
            $.ajax({
                type: "Post",
                url: "/Experince2Controller1/AddExperince/",
                data: values,
                success: function (funk1) {
                    let result jQuery.parseJSON(funk1);
                alert(result.Name + "Başarılı bir şekilde eklendi");
        }
                });
                                        });
    </script>
    }



<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>