
<ul class="nav">
    <li class="nav-item profile">
        <div class="profile-desc">
            <div class="profile-pic">
                <div class="count-indicator">
                    <img class="img-xs rounded-circle " src="~/corona-free-dark-bootstrap-admin-template-1.0.0/template/assets/images/faces/face15.jpg" alt="">
                    <span class="count bg-success"></span>
                </div>
                <div class="profile-name">
                    <h5 class="mb-0 font-weight-normal">Kerem Genc</h5>
                    <span>Admin</span>
                </div>
            </div>
            <a href="#" id="profile-dropdown" data-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></a>
            <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list" aria-labelledby="profile-dropdown">
                <a href="#" class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                        <div class="preview-icon bg-dark rounded-circle">
                            <i class="mdi mdi-settings text-primary"></i>
                        </div>
                    </div>
                    <div class="preview-item-content">
                        <p class="preview-subject ellipsis mb-1 text-small">Account settings</p>
                    </div>
                </a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                        <div class="preview-icon bg-dark rounded-circle">
                            <i class="mdi mdi-onepassword  text-info"></i>
                        </div>
                    </div>
                    <div class="preview-item-content">
                        <p class="preview-subject ellipsis mb-1 text-small">Change Password</p>
                    </div>
                </a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                        <div class="preview-icon bg-dark rounded-circle">
                            <i class="mdi mdi-calendar-today text-success"></i>
                        </div>
                    </div>
                    <div class="preview-item-content">
                        <p class="preview-subject ellipsis mb-1 text-small">To-do list</p>
                    </div>
                </a>
            </div>
        </div>
    </li>
    <li class="nav-item nav-category">
        <span class="nav-link">Navigation</span>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/DashBoardController1/Index">
            <span class="menu-icon">
                <i class="mdi mdi-home"></i>
            </span>
            <span class="menu-title">Dashboard</span>
        </a>
    </li>
  
    <li class="nav-item menu-items">
        <a class="nav-link" href="/ExperinceController1/Index">
            <span class="menu-icon">
                <i class="mdi mdi-language-csharp"></i>
            </span>
            <span class="menu-title">Deneyimler Sayfası</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/AboutController1/Index">
            <span class="menu-icon">
                <i class="mdi mdi-account-card-details"></i>
            </span>
            <span class="menu-title">Hakkımda Sayfası </span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/FeatureController1/Index">
            <span class="menu-icon">
                <i class="mdi mdi-account-convert"></i>
            </span>
            <span class="menu-title">Karşılama Sayfası</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/PortfolioController1/Index">
            <span class="menu-icon">
                <i class="mdi mdi-image-filter-none"></i>
            </span>
            <span class="menu-title">Projelerim Sayfası</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/ServiceController1/Index">
            <span class="menu-icon">
                <i class="mdi mdi-github-circle"></i>
            </span>
            <span class="menu-title">Hizmetlerim Sayfası </span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/SkillController1/Index">
            <span class="menu-icon">
                <i class="mdi mdi-desktop-mac"></i>
            </span>
            <span class="menu-title">Yeteneklerim Syafası</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/AdminMessageController1/ReciverBox">
            <span class="menu-icon">
                <i class="mdi mdi-message-processing"></i>
            </span>
            <span class="menu-title">Gelen Mesajlar</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/AdminMessageController1/SenderBox">
            <span class="menu-icon">
                <i class="mdi mdi-message-alert"></i>
            </span>
            <span class="menu-title">Giden Mesajlar</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/TestimonailController1/Index">
            <span class="menu-icon">
                <i class="mdi mdi-file-tree"></i>
            </span>
            <span class="menu-title">Referanslarım Sayfası</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/TestimonailController1/Index">
            <span class="menu-icon">
                <i class="mdi mdi-account-settings"></i>
            </span>
            <span class="menu-title">İletişim  Sayfası</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/TestimonailController1/Index">
            <span class="menu-icon">
                <i class="mdi mdi-account-youtube"></i>
            </span>
            <span class="menu-title">İletişim  Sayfası</span>
        </a>
    </li>
   
    <li class="nav-item menu-items">
        <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
            <span class="menu-icon">
                <i class="mdi mdi-security"></i>
            </span>
            <span class="menu-title">Şifre ve Güvenlik</span>
            <i class="menu-arrow"></i>
        </a>
     @*   <div class="collapse" id="auth">
            <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="~/corona-free-dark-bootstrap-admin-template-1.0.0/template/pages/samples/blank-page.html"> Blank Page </a></li>
                <li class="nav-item"> <a class="nav-link" href="~/corona-free-dark-bootstrap-admin-template-1.0.0/template/pages/samples/error-404.html"> 404 </a></li>
                <li class="nav-item"> <a class="nav-link" href="~/corona-free-dark-bootstrap-admin-template-1.0.0/template/pages/samples/error-500.html"> 500 </a></li>
                <li class="nav-item"> <a class="nav-link" href="~/corona-free-dark-bootstrap-admin-template-1.0.0/template/pages/samples/login.html"> Login </a></li>
                <li class="nav-item"> <a class="nav-link" href="~/corona-free-dark-bootstrap-admin-template-1.0.0/template/pages/samples/register.html"> Register </a></li>
            </ul>
        </div>*@
    </li>
  @*  <li class="nav-item menu-items">
        <a class="nav-link" href="http://www.bootstrapdash.com/demo/corona-free/jquery/documentation/documentation.html">
            <span class="menu-icon">
                <i class="mdi mdi-file-document-box"></i>
            </span>
            <span class="menu-title">Dökümanlar</span>
        </a>
    </li>*@
</ul>