
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/Writer/WriterDashboard/Index/">
                <i class="mdi mdi-view-dashboard"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Message/ReciverMessage/">
                <i class="mdi mdi-message-outline"></i>
                <span class="menu-title">Gelen Mesajlar</span>

            </a>

        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Message/SenderMessage/">
                <i class="mdi mdi-message-outline"></i>
                <span class="menu-title">Giden Mesajlar</span>

            </a>

        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Message/SendMessage/">
                <i class="mdi mdi-message-outline"></i>
                <span class="menu-title">Yeni Mesaj</span>

            </a>

        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Writer/Default/Index/">
                <i class="mdi mdi-alert-box"></i>
                <span class="menu-title">Duyurular</span>

            </a>

        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Profil/Index/">
                <i class="mdi mdi-account-key"></i>
                <span class="menu-title">Profil</span>

            </a>

        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Writer/Profil/Index">
                <i class="mdi mdi-settings"></i>
                <span class="menu-title">Ayarlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Write/LoginController/Logout/">
                <i class="mdi mdi-exit-to-app"></i>
                <span class="menu-title">Çıkış Yap</span>
            </a>
        </li>
    </ul>
</nav>